footer {
    background-color: #495e57;
    color: #fff;
    padding: 35px 13vw;
    display: grid;
    grid-template-areas: "logo nav social contact" "copyright copyright copyright copyright";
}

footer img,
.footer-navigation,
.footer-contact,
.footer-social-media,
.copyright {
    padding: 20px;
    display: inline-block;
}

footer img {
    grid-area: logo;
    max-width: 8rem;
}

.footer-navigation {
    grid-area: nav;
}

.footer-navigation ul li .active-link.active {
    color: #F4CE14
}

.footer-contact {
    grid-area: social;
}

.footer-social-media {
    grid-area: contact;
}

.copyright {
    grid-area: copyright;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    padding: 7px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer div p {
    text-align: center;
}

.footer-section-title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}



@media screen and (max-width: 768px) {
    footer {
        grid-template-areas: "logo nav" "social contact" "copyright copyright";
    }
}

@media screen and (max-width: 425px) {
    footer {
        grid-template-areas: "logo" "nav" "social" "contact" "copyright";
    }
}