* {
    font-family: "Markazi Text",
        "Karla",
        serif;
    letter-spacing: 0.7px;
}

.App {
    text-align: center;
}

label,
input,
select,
textarea,
p {
    font-family: "Karla";
}

textarea {
    padding: 11px;
}